<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Best Cars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    <!-- Remove this line the first time you edit this file -->
    <!--This is the index page of your Django app!-->
    <!--Add a nav bar here -->
    <!--Add a dealer table here -->
    <br />
    <br />
    <br />
    <br />
    <div class="panel"><h1 style="text-align: center;"><span style="color: #090a13;">LOCATION</span></h1>
        <p style="text-align: center;"><span style="color: #040a11;">Kyaliwajjala Uganda</span></p>
        <p style="text-align: center;"><span style="color: #0e0505;">P.O Box 1199 Kampala, Uganda</span></p>
        <p style="text-align: center;"><span style="color: #080808;">Plot 129, Block 879 Zone C, Buwate road </span></p>
    </div>
    <br />
    <div class="textwidget" style="text-align: center;"><p>Location : Kyaliwajjala Uganda <br />
        P.O Box 1199 Kampala, Uganda<br />
        Phone : +256393-222222 | 0700-000000<br />
        Web :   http://bestcarsug.com<br />
        Email : inquiries@bestcarsug.com</p>
    </div>

    </body>

</html>
